<!DOCTYPE html>
<html>
    <head>
        <title>
            Page test Symfony !!
        </title>
    </head>
    <body>
        <h1>Hello {{ name }} !!</h1>

        <p>Le Hello World en code est un classique.
           Il signifie beaucoup, car cela veut dire que l'on a réussi
           à éxécuter le programme pour accomplir une tâche simple :
           AFFICHER DU CODE !!!!!
        </p>
    </body>
</html>